<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>ftp.jjconstrucoes.com.br/httpdocs</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <FtpPassiveMode>True</FtpPassiveMode>
    <FtpSitePath />
    <UserName>jjconstrucoes</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
  <ItemGroup>
    <File Include="admin/artigo.aspx">
      <publishTime>09/16/2012 09:41:41</publishTime>
    </File>
    <File Include="admin/cadastro.aspx">
      <publishTime>09/16/2012 09:34:59</publishTime>
    </File>
    <File Include="admin/contas.aspx">
      <publishTime>09/16/2012 09:41:40</publishTime>
    </File>
    <File Include="admin/Estilos/Admin.Master">
      <publishTime>09/16/2012 09:29:12</publishTime>
    </File>
    <File Include="admin/Estilos/Imagens/admin.png">
      <publishTime>08/09/2012 17:35:28</publishTime>
    </File>
    <File Include="admin/Estilos/Imagens/btnLogin.png">
      <publishTime>08/09/2012 17:35:26</publishTime>
    </File>
    <File Include="admin/Estilos/Imagens/fundo.png">
      <publishTime>08/09/2012 17:35:24</publishTime>
    </File>
    <File Include="admin/Estilos/Imagens/img_apoio.png">
      <publishTime>08/09/2012 17:35:22</publishTime>
    </File>
    <File Include="admin/Estilos/Imagens/menu_late.png">
      <publishTime>08/09/2012 17:35:20</publishTime>
    </File>
    <File Include="admin/Estilos/Imagens/topo.png">
      <publishTime>08/09/2012 17:35:18</publishTime>
    </File>
    <File Include="admin/Estilos/Login.Master">
      <publishTime>09/16/2012 09:27:28</publishTime>
    </File>
    <File Include="admin/Estilos/principal.css">
      <publishTime>09/16/2012 09:32:25</publishTime>
    </File>
    <File Include="admin/home.aspx">
      <publishTime>08/29/2012 22:19:34</publishTime>
    </File>
    <File Include="admin/imagem.aspx">
      <publishTime>09/16/2012 09:35:07</publishTime>
    </File>
    <File Include="admin/login.aspx">
      <publishTime>08/28/2012 16:46:42</publishTime>
    </File>
    <File Include="admin/mensagem.aspx">
      <publishTime>08/28/2012 16:46:42</publishTime>
    </File>
    <File Include="admin/novaimagem.aspx">
      <publishTime>09/16/2012 09:34:56</publishTime>
    </File>
    <File Include="admin/novoartigo.aspx">
      <publishTime>09/16/2012 09:34:52</publishTime>
    </File>
    <File Include="bin/AjaxControlToolkit.dll">
      <publishTime>08/16/2012 22:38:32</publishTime>
    </File>
    <File Include="bin/ar/AjaxControlToolkit.resources.dll">
      <publishTime>08/16/2012 22:38:32</publishTime>
    </File>
    <File Include="bin/cs/AjaxControlToolkit.resources.dll">
      <publishTime>08/16/2012 22:38:32</publishTime>
    </File>
    <File Include="bin/de/AjaxControlToolkit.resources.dll">
      <publishTime>08/16/2012 22:38:32</publishTime>
    </File>
    <File Include="bin/es/AjaxControlToolkit.resources.dll">
      <publishTime>08/16/2012 22:38:32</publishTime>
    </File>
    <File Include="bin/fr/AjaxControlToolkit.resources.dll">
      <publishTime>08/16/2012 22:38:32</publishTime>
    </File>
    <File Include="bin/he/AjaxControlToolkit.resources.dll">
      <publishTime>08/16/2012 22:38:32</publishTime>
    </File>
    <File Include="bin/hi/AjaxControlToolkit.resources.dll">
      <publishTime>08/16/2012 22:38:32</publishTime>
    </File>
    <File Include="bin/it/AjaxControlToolkit.resources.dll">
      <publishTime>08/16/2012 22:38:34</publishTime>
    </File>
    <File Include="bin/ja/AjaxControlToolkit.resources.dll">
      <publishTime>08/16/2012 22:38:34</publishTime>
    </File>
    <File Include="bin/JML_JJConstrucoes_BLL.dll">
      <publishTime>09/16/2012 01:47:16</publishTime>
    </File>
    <File Include="bin/JML_JJConstrucoes_CLL.dll">
      <publishTime>09/16/2012 02:02:44</publishTime>
    </File>
    <File Include="bin/JML_JJConstrucoes_GLL.dll">
      <publishTime>09/16/2012 02:02:44</publishTime>
    </File>
    <File Include="bin/JML_JJConstrucoes_PL.dll">
      <publishTime>09/16/2012 09:41:41</publishTime>
    </File>
    <File Include="bin/ko/AjaxControlToolkit.resources.dll">
      <publishTime>08/16/2012 22:38:34</publishTime>
    </File>
    <File Include="bin/nl/AjaxControlToolkit.resources.dll">
      <publishTime>08/16/2012 22:38:34</publishTime>
    </File>
    <File Include="bin/pt/AjaxControlToolkit.resources.dll">
      <publishTime>08/16/2012 22:38:34</publishTime>
    </File>
    <File Include="bin/ru/AjaxControlToolkit.resources.dll">
      <publishTime>08/16/2012 22:38:34</publishTime>
    </File>
    <File Include="bin/tr-TR/AjaxControlToolkit.resources.dll">
      <publishTime>08/16/2012 22:38:34</publishTime>
    </File>
    <File Include="bin/zh-CHS/AjaxControlToolkit.resources.dll">
      <publishTime>08/16/2012 22:38:34</publishTime>
    </File>
    <File Include="bin/zh-CHT/AjaxControlToolkit.resources.dll">
      <publishTime>08/16/2012 22:38:34</publishTime>
    </File>
    <File Include="contato.aspx">
      <publishTime>09/16/2012 09:35:39</publishTime>
    </File>
    <File Include="content/css/default.css">
      <publishTime>09/15/2012 11:50:32</publishTime>
    </File>
    <File Include="css/bg_links.png">
      <publishTime>09/15/2012 11:50:18</publishTime>
    </File>
    <File Include="css/bg_nav.png">
      <publishTime>09/15/2012 11:50:18</publishTime>
    </File>
    <File Include="css/bg_thumbs.png">
      <publishTime>09/15/2012 11:50:18</publishTime>
    </File>
    <File Include="css/bg_thumbs_h.png">
      <publishTime>09/15/2012 11:50:18</publishTime>
    </File>
    <File Include="css/bg_title.png">
      <publishTime>09/15/2012 11:50:18</publishTime>
    </File>
    <File Include="css/bg_up.png">
      <publishTime>09/15/2012 11:50:18</publishTime>
    </File>
    <File Include="css/box_left.png">
      <publishTime>09/15/2012 11:50:18</publishTime>
    </File>
    <File Include="css/content.png">
      <publishTime>09/15/2012 11:50:18</publishTime>
    </File>
    <File Include="css/css.css">
      <publishTime>09/16/2012 09:17:36</publishTime>
    </File>
    <File Include="css/footer.png">
      <publishTime>09/15/2012 11:50:18</publishTime>
    </File>
    <File Include="css/footer_down.png">
      <publishTime>09/15/2012 11:50:18</publishTime>
    </File>
    <File Include="css/info.png">
      <publishTime>09/15/2012 11:50:18</publishTime>
    </File>
    <File Include="css/links.png">
      <publishTime>09/15/2012 11:50:18</publishTime>
    </File>
    <File Include="css/links_h.png">
      <publishTime>09/15/2012 11:50:18</publishTime>
    </File>
    <File Include="css/logo4.png">
      <publishTime>09/15/2012 11:50:18</publishTime>
    </File>
    <File Include="css/main.png">
      <publishTime>09/15/2012 11:50:18</publishTime>
    </File>
    <File Include="css/mixed.png">
      <publishTime>09/15/2012 11:50:18</publishTime>
    </File>
    <File Include="css/question.png">
      <publishTime>09/15/2012 11:50:18</publishTime>
    </File>
    <File Include="css/Sansation/stylesheet.css">
      <publishTime>09/15/2012 11:49:58</publishTime>
    </File>
    <File Include="css_pirobox/style_1/bottom_nav.png">
      <publishTime>09/15/2012 11:49:26</publishTime>
    </File>
    <File Include="css_pirobox/style_1/caption.png">
      <publishTime>09/15/2012 11:49:26</publishTime>
    </File>
    <File Include="css_pirobox/style_1/close.png">
      <publishTime>09/15/2012 11:49:26</publishTime>
    </File>
    <File Include="css_pirobox/style_1/loadinfo.gif">
      <publishTime>09/15/2012 11:49:28</publishTime>
    </File>
    <File Include="css_pirobox/style_1/new_skin.png">
      <publishTime>09/15/2012 11:49:28</publishTime>
    </File>
    <File Include="css_pirobox/style_1/new_skin_left.png">
      <publishTime>09/15/2012 11:49:28</publishTime>
    </File>
    <File Include="css_pirobox/style_1/new_skin_top.png">
      <publishTime>09/15/2012 11:49:28</publishTime>
    </File>
    <File Include="css_pirobox/style_1/next.png">
      <publishTime>09/15/2012 11:49:28</publishTime>
    </File>
    <File Include="css_pirobox/style_1/prev.png">
      <publishTime>09/15/2012 11:49:28</publishTime>
    </File>
    <File Include="css_pirobox/style_1/style.css">
      <publishTime>09/15/2012 11:49:28</publishTime>
    </File>
    <File Include="css_pirobox/style_2/bottom_nav.png">
      <publishTime>09/15/2012 11:49:12</publishTime>
    </File>
    <File Include="css_pirobox/style_2/caption.png">
      <publishTime>09/15/2012 11:49:12</publishTime>
    </File>
    <File Include="css_pirobox/style_2/close.png">
      <publishTime>09/15/2012 11:49:12</publishTime>
    </File>
    <File Include="css_pirobox/style_2/loadinfo.gif">
      <publishTime>09/15/2012 11:49:12</publishTime>
    </File>
    <File Include="css_pirobox/style_2/new_skin.png">
      <publishTime>09/15/2012 11:49:12</publishTime>
    </File>
    <File Include="css_pirobox/style_2/new_skin_left.png">
      <publishTime>09/15/2012 11:49:12</publishTime>
    </File>
    <File Include="css_pirobox/style_2/new_skin_top.png">
      <publishTime>09/15/2012 11:49:12</publishTime>
    </File>
    <File Include="css_pirobox/style_2/next.png">
      <publishTime>09/15/2012 11:49:12</publishTime>
    </File>
    <File Include="css_pirobox/style_2/prev.png">
      <publishTime>09/15/2012 11:49:12</publishTime>
    </File>
    <File Include="css_pirobox/style_2/style.css">
      <publishTime>09/15/2012 11:49:12</publishTime>
    </File>
    <File Include="default.aspx">
      <publishTime>08/28/2012 16:46:42</publishTime>
    </File>
    <File Include="empresa.aspx">
      <publishTime>08/28/2012 16:46:42</publishTime>
    </File>
    <File Include="Estilos/botões/black curved Delete.jpg">
      <publishTime>09/15/2012 23:50:00</publishTime>
    </File>
    <File Include="Estilos/Default.Master">
      <publishTime>09/16/2012 09:41:13</publishTime>
    </File>
    <File Include="Estilos/Imagens/banner.jpg">
      <publishTime>09/16/2012 09:40:22</publishTime>
    </File>
    <File Include="Estilos/Imagens/fundo.png">
      <publishTime>09/15/2012 23:50:00</publishTime>
    </File>
    <File Include="Estilos/Imagens/icone_logo_jml.png">
      <publishTime>09/16/2012 08:59:27</publishTime>
    </File>
    <File Include="Estilos/Imagens/img_apoio.png">
      <publishTime>09/15/2012 23:50:00</publishTime>
    </File>
    <File Include="Estilos/Imagens/logo.png">
      <publishTime>09/16/2012 08:36:51</publishTime>
    </File>
    <File Include="Estilos/Imagens/menu_late.png">
      <publishTime>09/15/2012 23:50:00</publishTime>
    </File>
    <File Include="Estilos/Imagens/topo.png">
      <publishTime>09/15/2012 23:50:00</publishTime>
    </File>
    <File Include="Estilos/principal.css">
      <publishTime>09/16/2012 09:32:18</publishTime>
    </File>
    <File Include="Estilos/Site.Master">
      <publishTime>09/16/2012 09:19:07</publishTime>
    </File>
    <File Include="galeria.aspx">
      <publishTime>09/16/2012 09:32:35</publishTime>
    </File>
    <File Include="Galeria/default.txt">
      <publishTime>09/16/2012 01:22:04</publishTime>
    </File>
    <File Include="js/error.jpg">
      <publishTime>09/15/2012 11:48:46</publishTime>
    </File>
    <File Include="js/jquery-ui-1.8.2.custom.min.js">
      <publishTime>09/15/2012 11:48:46</publishTime>
    </File>
    <File Include="js/jquery.min.js">
      <publishTime>09/15/2012 11:48:46</publishTime>
    </File>
    <File Include="js/pirobox_extended.js">
      <publishTime>09/15/2012 11:48:46</publishTime>
    </File>
    <File Include="js/pirobox_extended_min.js">
      <publishTime>09/15/2012 11:48:46</publishTime>
    </File>
    <File Include="noticias.aspx">
      <publishTime>08/29/2012 23:32:26</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>09/16/2012 01:54:18</publishTime>
    </File>
  </ItemGroup>
</Project>